@tailwind base;
@tailwind components;
@tailwind utilities;

.active__menu::before,
.active__menu::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgb(51 65 85);
  z-index: 10;
  display: block;
  position: absolute;
  right: 0;
}
.active__menu::before {
  top: -1rem;
  border-bottom-right-radius: 9999px;
  box-shadow: 10px 10px 0 10px rgb(241 245 249);
}
.active__menu::after {
  bottom: -1rem;
  border-top-right-radius: 9999px;
  box-shadow: 10px -10px 0px 10px rgb(241 245 249);
}
