@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
  -webkit-background-clip: text;
}

.revealing-image {
  /* Attach animation, linked to a view timeline that tracks self */
  animation: linear reveal both;
  animation-duration: 600ms;
  animation-timeline: view();

  /* Tweak range when effect should run*/
  animation-range: entry 5% cover 15%;
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}
